* {
    font-size: 16px;
    scrollbar-width: thin;
    font-family: 'Roboto', sans-serif !important;
    color: var(--foreground);
}

*:not(h1, h2, h3, h4, h5, h6) {
    color: #171717;
}

body {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    flex-basis: auto;
    margin: 0;
    background-color: var(--bodybg-color) !important;
    overflow: hidden;
}
.text-tree-line{
    display: block; /* Fallback trong trường hợp trình duyệt không hỗ trợ display dạng box */
    display: -webkit-box;
    line-height: 1 !important; /* Fallback  */
    // max-height: 74px; /* Fallback số dòng bạn muốn giới hạn */
    -webkit-line-clamp: 3; /* Số dòng bạn muốn giới hạn */
    -webkit-box-orient: vertical;
    visibility: visible;
    text-overflow: ellipsis;
    overflow:hidden;
}
.text-tree-line{
    display: block; /* Fallback trong trường hợp trình duyệt không hỗ trợ display dạng box */
    display: -webkit-box;
    line-height: 1 !important; /* Fallback  */
    // max-height: 74px; /* Fallback số dòng bạn muốn giới hạn */
    -webkit-line-clamp: 1; /* Số dòng bạn muốn giới hạn */
    -webkit-box-orient: vertical;
    visibility: visible;
    text-overflow: ellipsis;
    overflow:hidden;
}
.btn-grid-data{
    display: inline-flex;
    -webkit-box-align: center;
    justify-content: center;
    position: relative;
    user-select: none;
    vertical-align: middle;
    font-weight: 500;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    border: 0;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: var(--variant-textColor);
    background-color: var(--variant-textBg);
    --variant-textColor: #1976d2;
    --variant-outlinedColor: #1976d2;
    --variant-outlinedBorder: rgba(25, 118, 210, 0.5);
    --variant-containedColor: #fff;
    --variant-containedBg: #1976d2;
    padding: 4px 5px;
    font-size: 0.8125rem;
}