nav {
    position: relative;
    width: 100%;
    max-width: 300px;
    background-color: white;
    .scroll-bar {
        .nav-bar {
            hr {
                height: 3px;
                color: #a1a19c;
            }
        }
    }
}