@charset "UTF-8";
* {
  font-size: 16px;
  scrollbar-width: thin;
  font-family: "Roboto", sans-serif !important;
  color: var(--foreground);
}

*:not(h1, h2, h3, h4, h5, h6) {
  color: #171717;
}

body {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  flex-basis: auto;
  margin: 0;
  background-color: var(--bodybg-color) !important;
  overflow: hidden;
}

.text-tree-line {
  display: block; /* Fallback trong trường hợp trình duyệt không hỗ trợ display dạng box */
  display: -webkit-box;
  line-height: 1 !important; /* Fallback  */
  -webkit-line-clamp: 3; /* Số dòng bạn muốn giới hạn */
  -webkit-box-orient: vertical;
  visibility: visible;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-tree-line {
  display: block; /* Fallback trong trường hợp trình duyệt không hỗ trợ display dạng box */
  display: -webkit-box;
  line-height: 1 !important; /* Fallback  */
  -webkit-line-clamp: 1; /* Số dòng bạn muốn giới hạn */
  -webkit-box-orient: vertical;
  visibility: visible;
  text-overflow: ellipsis;
  overflow: hidden;
}

.btn-grid-data {
  display: inline-flex;
  -webkit-box-align: center;
  justify-content: center;
  position: relative;
  user-select: none;
  vertical-align: middle;
  font-weight: 500;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: var(--variant-textColor);
  background-color: var(--variant-textBg);
  --variant-textColor: #1976d2;
  --variant-outlinedColor: #1976d2;
  --variant-outlinedBorder: rgba(25, 118, 210, 0.5);
  --variant-containedColor: #fff;
  --variant-containedBg: #1976d2;
  padding: 4px 5px;
  font-size: 0.8125rem;
}

nav.admin-bar {
  position: relative;
  width: 100%;
  min-width: var(--w-navbar);
  max-width: var(--w-navbar);
  background-color: white;
}
nav.admin-bar .scroll-bar .nav-bar hr {
  height: 3px;
  color: #a1a19c;
}

.drawer-cart > .MuiDrawer-paper {
  max-height: 450px;
  border-radius: 1rem;
  margin-top: var(--margin1);
}
.drawer-cart > .MuiDrawer-paper .cart-item {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.drawer-cart > .MuiDrawer-paper .cart-item:hover {
  background-color: var(--color1);
}
.drawer-cart > .MuiDrawer-paper .cart-item .icon-delete-cart {
  transition: all 0.3s ease-in-out;
}
.drawer-cart > .MuiDrawer-paper .cart-item .icon-delete-cart:hover * {
  color: var(--color-main);
}

.drawer-noti > .MuiDrawer-paper {
  max-height: 450px;
  border-radius: 1rem;
  margin-top: var(--margin1);
}
.drawer-noti > .MuiDrawer-paper .noti-item {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.drawer-noti > .MuiDrawer-paper .noti-item:hover {
  background-color: var(--color1);
}
.drawer-noti > .MuiDrawer-paper .noti-item img {
  width: var(--sizeImageCard);
  height: var(--sizeImageCard);
  object-fit: contain;
  border: 1px solid var(--color-main);
  border-radius: 50%;
}

.top-bar {
  height: var(--margin1);
  max-height: var(--margin1);
  background-color: var(--bodybg-color);
  z-index: 1;
}

.content-all {
  min-width: calc(100vw - var(--w-navbar));
  max-width: calc(100vw - var(--w-navbar));
  max-height: calc(100vh - var(--margin1));
}
.content-all .pagination-custom {
  margin-right: 8px;
}
.content-all .pagination-custom button {
  padding: 0;
  min-width: 25px;
  max-height: 25px;
}

main {
  padding-top: var(--margin1);
  overflow-y: auto;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../sass/admin/global.scss%22,%22../sass/admin/navbar.scss%22,%22../sass/admin/cart.scss%22,%22../sass/admin/notification.scss%22,%22../sass/admin/topbar.scss%22,%22../sass/admin/content.scss%22,%22../sass/all.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22;AAAA;EACI;EACA;EACA;EACA;;;AAGJ;EACI;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;;AAEJ;EACI;EACA;EACA;EAEA;EACA;EACA;EACA;EACA;;;AAEJ;EACI;EACA;EACA;EAEA;EACA;EACA;EACA;EACA;;;AAEJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AC/DA;EACI;EACA;EACA;EACA;EACA;;AAIQ;EACI;EACA;;;ACXhB;EACI;EACA;EACA;;AAEA;EACI;EACA;;AACA;EACI;;AAGJ;EACI;;AAGI;EACI;;;ACjBpB;EACI;EACA;EACA;;AAEA;EACI;EACA;;AACA;EACI;;AAEJ;EACI;EACA;EACA;EACA;EACA;;;ACfhB;EACI;EACA;EACA;EACA;;;ACNJ;EACI;EACA;EACA;;AACA;EACI;;AACA;EACI;EAEA;EACA;;;ACNZ;EAEI;EACA%22,%22file%22:%22all.css%22%7D */
