@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark:72, 68, 61;
  --vz-warning-rgb: 255, 190, 11;
  --vz-warning-bg-subtle: #fff5da;
  --color-main: #3577f1;
  --color1:#eff2f7;
  --bodybg-color: #e4e4e3;
  --w-navbar: 300px;
  --margin1: 72px;
  --sizeImageCard: 60px;
}
[data-theme="dark"]{
  --background: #ffffff;
  --foreground: #171717;
  --dark:72, 68, 61;
  --vz-warning-rgb: 255, 190, 11;
  --vz-warning-bg-subtle: #fff5da;
  --color-main: #3577f1;
  --color1:#eff2f7;
  --bodybg-color: #a600ff;
  --margin1: 72px;
}
/* scrollnbar */
::-webkit-scrollbar,
::-moz-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb,
::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #ccc;
}

::-webkit-scrollbar-thumb:hover,
::-moz-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track,
::-moz-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}
/* end scrollnbar */

/* Thay đổi thanh cuộn khi nó ở vị trí cuối cùng */
::-moz-scrollbar-corner {
  background-color: #f1f1f1; /* Màu của góc khi không có nội dung */
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.flex-row-nowrap-between{
  @apply flex flex-row flex-nowrap justify-between items-center justify-between;
}
.css-mui-grid-data{
  /* @apply MuiButtonBase-root MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeSmall MuiButton-textSizeSmall MuiButton-colorPrimary MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeSmall MuiButton-textSizeSmall MuiButton-colorPrimary css-2lyh9o-MuiButtonBase-root-MuiButton-root */
}