// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-size: 16px;
    scrollbar-width: thin;
    font-family: 'Roboto', sans-serif !important;
    color: var(--foreground);
}

*:not(h1, h2, h3, h4, h5, h6) {
    color: #171717;
}

body {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    flex-basis: auto;
    margin: 0;

    nav {
        position: relative;
        width: 100%;
        max-width: 300px;
        background-color: white;
        .scroll-bar{
            @import 'admin/navbar';
        }
        
    }

    main {}
}